.button {
    padding: 1rem 3.125rem;
    background-color: #84CC16;
    border: 1px solid #D1D5DB;
    color: black;
    border-radius: 50px;
}


.button:hover {
    background-color: #6dad0e;
    color: white;
}
