.hero {
background-image: url("/Hero.png");
background-repeat: no-repeat;
background-size: cover;
}



.content {
    padding: 5em 0 5em 5em;
    text-align: start;
}


.title {
    font-size: 5rem;
    color: white;
}

.title span { 
    color: #84CC16;
}

.description {
    color: #D1D5DB;
    font-size: 3rem;
}

.buttonContainer {
    padding-top: 3rem;
}