* {
	padding: 0px;
	margin: 0px;
	border: none;
  
}

body, html {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  height: 100%;
}


*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a {
	color: #292929;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    color: black;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}

[class*=__container] {
  margin: 10px 20px 0px;
}

#root {
    height: 100%; 
    display: flex;
    flex-direction: column;
}

main { 
    flex: 1 0 auto;
}

a.active {
	text-decoration: underline;
    color: black;
}

/*  */

body {
  position: relative;
  overflow-x: hidden;
  background: #f8f9fd;
}

.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.animated-background span {
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  background: rgba(12, 108, 242, 0.2);
  border-radius: 50%;
  animation: float 30s infinite ease-in-out;
  filter: blur(60px);
}

.animated-background span:nth-child(1) {
  top: 10%;
  left: 20%;
  animation-delay: 0s;
}

.animated-background span:nth-child(2) {
  top: 60%;
  left: 70%;
  animation-delay: 10s;
}

.animated-background span:nth-child(3) {
  top: 30%;
  left: 50%;
  animation-delay: 20s;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-50px) translateX(30px);
  }
}
